<p class="textTitle" >Usuarios</p>
<button class="btn-create" mat-raised-button color="primary" (click)="create()">Crear Usuario</button>
<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ej. CI o nombre" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="ci">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CI </th>
      <td mat-cell *matCellDef="let row"> {{row.ci}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
     <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let row"> {{row.role.showname}} </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.state == true; else elseTemplate">
          <mat-icon color="primary">check</mat-icon>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-icon color="warn">close</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="openUserDialog(row)" mat-menu-item>
            <mat-icon color="accent">info</mat-icon>
            <span>Ver</span>
          </button>

          <button (click)="update(row)" mat-menu-item>
            <mat-icon color="accent">edit</mat-icon>
            <span>Modificar</span>
          </button>
          <button (click)="updatePassword(row)"  mat-menu-item>
            <mat-icon color="accent">info</mat-icon>
            <span>Modificar contraseña</span>
          </button>
          <button (click)="openDialog(row)" mat-menu-item>

            <mat-icon [color]="row.state?'warn':'primary'">{{row.state?'delete':'check_circle'}}</mat-icon>
            <span>{{row.state?'Deshabilitar':'Habilitar'}}</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontro resultado con el valor "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>