
<form [formGroup]="loginForm">
  
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
          <table>
            <tr><th colspan="2"><h4 align="left">Crear Servicio</h4></th></tr>
              <tr><td colspan="2">
                  <mat-form-field class="example-full-width">
                      <mat-label>Nombre</mat-label>
                      <input formControlName="name" matInput placeholder="Nombre" >
                      <mat-error >
                        {{validar('El nombre ','name')}}
                    </mat-error>
                  </mat-form-field>
              </td></tr>
              <tr><td>
                  <mat-form-field class="example-full-width">
                  <mat-label>Precio</mat-label>
                  <input formControlName="price" type="number" matInput placeholder="Precio">
                  <mat-error >
                    {{validar('El precio ','price')}}
                </mat-error>
               </mat-form-field></td>
               
               <td>
                  <mat-form-field appearance="fill">
                      <mat-label>Tipo</mat-label>
                      <mat-select formControlName="type">
                        <mat-option value="0">Publico</mat-option>
                        <mat-option value="1">Privado</mat-option>
                      </mat-select>
                      <mat-error >
                        {{validar('El tipo ','type')}}
                    </mat-error>
                    </mat-form-field>
               </td>
              </tr>
              <tr><td colspan="2">
                <mat-form-field class="example-full-width">
                  <mat-label  >Descripcion</mat-label>
                  <textarea formControlName="description" matInput placeholder="Describe alguna observación obtenida"></textarea>
                </mat-form-field>
              </td></tr>
              <tr><td colspan="2">
                <button  mat-raised-button  (click)="back()"  >Atras</button>
                <button  mat-raised-button color="primary" (click)="create()" [disabled]="!loginForm.valid" >Crear Servicio</button>
             </td></tr>
          </table>
          </mat-grid-tile>
        </mat-grid-list>
        
  </form>