<h1 mat-dialog-title> Agregar un Producto</h1>
<mat-dialog-content >
    
<form [formGroup]="loginForm">
          <table>
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                      <mat-label>Categoria</mat-label>
                      <mat-select formControlName="categoryId" (selectionChange)="onChange($event)">
                        <ng-container *ngFor="let item of categoryData; let i = index">

                          <mat-option [value]="item.id">{{item.name}}</mat-option>
                        </ng-container>
                      </mat-select>
                      <mat-error >
                        {{validar('La categoria ','categoryId')}}
                    </mat-error>
                      <!--

                       -->
                    </mat-form-field>
               </td>
               <td>
                <mat-form-field appearance="fill">
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="productId" (selectionChange)="onChangeProduct($event)">
                      <ng-container *ngFor="let item of productData; let i = index">
              
                          <mat-option [value]="item.id">{{'Nº '+item.name+' '+(item.price==0) }}</mat-option>
                          
                        
                      </ng-container>
                    </mat-select>
                    <mat-error >
                      {{validar('El producto ','productId')}}
                  </mat-error>
                  </mat-form-field>
             </td>
                <td >
                  <mat-form-field class="example-full-width">
                      <mat-label>Cantidad</mat-label>
                      <input formControlName="cant" type="number" matInput placeholder="Cantidad" >
                      <mat-error >
                        {{validar('La cantidad ','cant')}}
                    </mat-error>
                  </mat-form-field>
              </td></tr>
              <tr *ngIf="!!productSelect" ><td>{{productSelect.name}}</td> <td colspan="2">{{productSelect.description}} </td></tr>
              <tr><td *ngIf="!!productSelect">
                  <mat-form-field class="example-full-width" >
                  <mat-label>Precio</mat-label>
                  <input [value]="productSelect.price?productSelect.price:0" placeholder="Precio" type="number" matInput  disabled>
                  
               </mat-form-field></td>
              </tr>
              <tr><td colspan="3">
              </td></tr>
          </table>
        
  </form>
</mat-dialog-content >
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">No </button>
    <button mat-button (click)="create()" [disabled]="!loginForm.valid" cdkFocusInitial>Si</button>
</div>