
// styles.scss

@use "@angular/material" as mat;

@use "./assets/styles/_light.scss";

@include mat.core();

//@include mat.core-theme(light.$my-app-light-theme);
//@include mat.button-theme(light.$my-app-light-theme);

body {
    margin: 0
}
@media print {
    .noPrint{
      display:none;
    }
  }
.textTitle {
    font-size: x-large;
    padding: 12px;
    text-transform: capitalize;
}